configuration {
    modi: "drun";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 1; /* West / Left Sidebar */
    anchor: "west";
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "󰀻";
    sidebar-mode: false;
    click-to-exit: true;
}

@theme "/dev/null"

* {
    bg-col:       #141414;
    bg-sub:       #1E1E1E;
    bg-active:    #2A2A2A;
    border-col:   #EDEDED;
    selected-col: #FFFFFF;
    fg-col:       #EDEDED;
    fg-muted:     #8A8A8A;
    grey:         #5A5A5A;
    font:         "Inter 11";
    border-radius: 0px;
    background-color: transparent;
    text-color:   @fg-col;
    margin:       0px;
    padding:      0px;
    spacing:      0px;
}

window {
    height: 98%;
    width: 380px;
    location: northwest;
    anchor: northwest;
    x-offset: 14px;
    y-offset: 10px;
    border: 1px;
    border-color: @border-col;
    border-radius: 14px;
    background-color: @bg-col;
}

mainbox {
    background-color: transparent;
    padding: 20px;
    children: [ inputbar, listview ];
    spacing: 14px;
}

inputbar {
    children: [ prompt, entry ];
    background-color: @bg-sub;
    border: 1px;
    border-color: @border-col;
    border-radius: 10px;
    padding: 8px 12px;
    spacing: 10px;
}

prompt {
    background-color: transparent;
    padding: 0px 4px;
    text-color: @border-col;
    font-weight: bold;
    font-size: 15px;
}

entry {
    padding: 0px 4px;
    text-color: @fg-col;
    background-color: transparent;
    placeholder: "Search applications...";
    placeholder-color: @grey;
}

listview {
    border: 0px;
    padding: 4px 0px;
    columns: 1;
    lines: 20;
    background-color: transparent;
    spacing: 6px;
}

element {
    padding: 8px 10px;
    background-color: transparent;
    text-color: @fg-col;
    border-radius: 8px;
    spacing: 12px;
}

element-icon {
    size: 26px;
    background-color: transparent;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    vertical-align: 0.5;
}

element selected {
    background-color: @bg-active;
    text-color: @selected-col;
    border-radius: 8px;
}

